<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Payment</h1>
	<ul>
		<li>
			Subtotal: $<%=sprintf("%.02f",price["subtotal"])%><br>
		</li>
		<li>
			Tax: $<%= sprintf("%.02f",price["tax"])%><br>
		</li>
		<% if price["delivery"] != 0%>
			<li>
				Delivery Fee: $<%=sprintf("%.02f",price["delivery"]) %><br>
			</li>
		<% end%>
		<li>
			Total: $<%=sprintf("%.02f",price["total"])%>
		</li>
	</ul>
	<h3>How would you like to pay?</h3>
	<form method="post" action="/on-to-thank-you">
		<div>
			<input type="radio" name="payment" value="credit">Credit
		</div>
		<div>
			<input type="radio" name="payment" value="debit">Debit
		</div>
		<div>
			<input type="radio" name="payment" value="cash">Cash
		</div>
		<div>
			<input type="radio" name="payment" value="stripe">Stripe
		</div>
		<div>
			<input type="submit" value="pay">
		</div>
	</form>
</body>
</html>
