<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<form method="get" action="/thanks">
 	 	<script
		    src = "https://checkout.stripe.com/checkout.js" class="stripe-button"
		    data-key = "pk_test_pBzNYHJxB9HFmcK673x8uZl4"
		    data-amount = <%= price["total"] * 100 %>
		    data-name = "This might be Stripe.com"
		    data-description = "Test account"
		    data-image = "https://stripe.com/img/documentation/checkout/marketplace.png"
		    data-zip-code = "true">
  		</script>
	</form>
</body>
</html>